<h1>Mi Portafolio</h1>
<p>Bienvenido a mi portafolio.</p>

<p>Te doy las mas cordial bienvenida a mi portafolio!</p>
<p>Aqui encontrarás mis mas recientes proyectos </p>

<%= link_to "Proyectos", "projects", class: "btn btn-warning btn-style" %>