.card {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: #ccc 1px solid;
    box-shadow: #ccc 0px 0px 4px;
}

.btn-style {
    width: 30%;
    box-shadow: #ccc 0px 0px 4px;
    text-align: center;
    margin: 0 auto;
}

.btn-style:hover {
    background-color: gray; 
    color: #FFF;
    transition: all 0.5s;
}